.left-side, .right-side {
  margin: 10px;
  border: thin solid yellow;
  flex: 1 0 250px;
}

.header, .main-body {
  margin: 10px;
  border: thin solid black;
  display: flex;
  flex-wrap: wrap-reverse;
}

.header {
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 250px;
}

.recipe-ingredients, .recipe-steps, .recipe-tags {
  margin: 10px;
  border: thin solid red;

}
